body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    text-align: center;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4dabf7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  button:hover {
    background-color: #377ab8;
  }
  #palette {
    display: flex;
    justify-content: center;
  }
  .swatch {
    width: 100px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.2s ease;
  }
  .swatch:hover {
    transform: scale(1.05);
  }